<r:hammer_nav>
  <nav id="wvu-hammer-nav" aria-label="Hammer Breadcrumbs" >
    <h1>Hammer</h1>
    <div class="wvu-hammer-breadcrumbs__container">
      <r:hammer_breadcrumbs style="" class="wvu-hammer-breadcrumbs" />
    </div>
    <div class="wvu-hammer-version">
      <span class="wvu-hammer-version--title">
        Version:&nbsp;<a class='wvu-hammer-link' href="https://github.com/wvuweb/hammer/blob/master/CHANGELOG.md" target="_new" title="View Change Log"><r:hammer_version /></a>
      </span>
    </div>
  </nav>
</r:hammer_nav>
