#wvu-hammer-nav {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  column-gap: 32px;
  padding: 8px 0;
  background-image: linear-gradient(to bottom, #353533 0%, #2e2e2e 55%, #282828 57%, #242424 98%, #1d1d1b 100%);
  z-index: 2;
  width: 100%;
  color: #a7a7a7;

  @media only screen and (min-width: 900px) {
    grid-template-columns: auto 1fr auto;
  }

  h1 {
    font-size: 24px;
    font-weight: inherit;
    padding: 0 0 0 16px;
    margin: 0;
    width: auto;
    display: inline-block;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  a.wvu-hammer-link {
    padding: 0;
    font-size: 1em;
    color: #fcfcfc;
    text-decoration: none;
    background-color: transparent;
    &:visited {
      color: #fcfcfc;
      text-decoration: none;
    }
    &:hover {
      color: #fcfcfc;
      text-decoration: underline;
    }
  }
}

.wvu-hammer-breadcrumbs__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 16px;
}

#wvu-hammer-nav ul.wvu-hammer-breadcrumbs__crumbs {
  margin:0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;

  li {
    float: left;
    font-size: 14px;
    padding: inherit;
    margin: 6px 8px 0 0;
    color: #a7a7a7;

    &:after {
      content: ' / ';
      color: #7b7b7b;
    }
    &:last-child {
      &:after {
        content: '';
      }
    };
  }

  a {

  }
}

.wvu-hammer-version {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 16px;
  font-size: 0.8em;
  color: #fcfcfc;

  @media only screen and (min-width: 900px) {
    position: static;
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
.wvu-hammer-version--title {
  margin-right: 8px;
}

.wvu-hammer-btn{
  text-decoration:none;
  color: #fcfcfc !important;
  font-size:12px;
  font-weight:bold;
  padding:0 9px;
  line-height:18px;
  height: auto;
  display:inline-block;
  text-align:center;
  background-color:#ea6360;
}
.wvu-hammer-pill{
  border-radius: 15px;
}



.wvu-hammer-error {
  border-radius: 3px 0 0 3px;
  font-family: monospace;
  background-color: #fff;
  padding: 0 3px 0 0;
  position:relative;
  z-index: 9999;

  strong {
    padding: 0 5px;
  }

  code {
    border-radius: 3px;
    font-family: monospace;
    padding: 0 3px;
    background-color: #dfdfdf;
  }
}

.wvu-hammer-error__error {
  color: #721c24 !important;
  border: 1px dashed #dc3545;
  a {
    color: inherit !important;
  }
  strong {
    background-color: #dc3545;
    color: #fff;
  }
}

.wvu-hammer-error__warning {
  color: #004085  !important;
  border: 1px dashed #b8daff;
  a {
    color: inherit !important;
  }
  strong {
    background-color: #cce5ff;
    color: #004085;
  }
}

.wvu-hammer-error__depreciation {
  color: #560085  !important;
  border: 1px dashed #e6c2f9;
  a {
    color: inherit !important;
  }
  strong {
    background-color: #e6c2f9;
    color: #560085;
  }
}
