#wvu-hammer-nav.wvu-hammer-breadcrumbs {
  background-color: #dee2e6;
  z-index: 2;
  width: 100%;

  h1 {
    font-size: 24px;
    font-weight: inherit;
    padding:8px 16px;
    margin: 0;
    width: auto;
    display: inline-block;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
  }
  ul {
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
  }
  ul, li {
    margin: inherit;
    padding: inherit;
  }
  a {
    background-color: inherit;
    color:inherit;
    font-size: inherit;
    padding: inherit;
    margin: inherit;
    float: inherit;
  }
}

#wvu-hammer-nav .wvu-hammer-breadcrumbs__crumbs {

  padding: 8px 16px;
  list-style-type: none;

  li {
    float: left;
    font-size: 14px;
    margin: 6px 8px 0 0;

    &:after {
      content: ' / ';
    }
    &:last-child {
      &:after {
        content: '';
      }
    };
  }

  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }

  a:visited {
    color: #0033A0;
    text-decoration: none;
  }

}
.wvu-hammer-breadcrumbs__list--white {
  color: white;
  a {
    color: white;
  }
}

.wvu-hammer-breadcrumbs__container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}
